.login-tab {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    padding: 50px 50px 26px 50px;
    min-width: 30vw;
    border-radius: 20px;
}

.login-tab > h1 {
    margin-top: 0px;
}

.login-button {
    margin-bottom: 15px;
}

.login-error-message {
    color: #d00000;
    margin: 0px;
    text-align: left;
    min-height: 1.5rem;
}
